* {
  box-sizing: border-box;
}

body {
  background-color: darkgreen;
  background-color: #0c6339;
  height: 100vh;
  width: 100%;
  margin-top: 0;
  padding: 0;
  /* width: 100%;
  height: 100%;
  overflow: hidden */
  overflow: hidden;
}

.cardH3 {
  margin: -1.5em 1em -1.5em -2em !important;
}

.card {
  display: inline-flex;
  width: 9vh;
  height: 14vh;
  border: 1% solid #666;
  border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  -khtml-border-radius: 0.3em;
  margin: -1.5em -1em -1.5em 0em;
  text-align: center;
  font-size: 1.2em; /* @change: adjust this value to make bigger or smaller cards */
  font-weight: normal;
  font-family: Arial, sans-serif;
  /* position: absolute;
  transform-origin: bottom left 120%; */
  position: relative;
  background-color: #fff;
  -moz-box-shadow: 0.2em 0.2em 0.5em #333;
  -webkit-box-shadow: 0.2em 0.2em 0.5em #333;
  box-shadow: 0.2em 0.2em 0.5em #333;

  /* will-change: transform; */
}

.playingCards a.card {
  text-decoration: none;
}

/* selected and hover state */
.hand2,
.hands2,
.hand4,
.card:hover,
.hand2,
.hands2,
.hand4,
.card:active,
.hand2,
.hands2,
.hand4,
.card:focus,
.hand2,
.hands2,
.hand4,
label.card:hover,
.hand2,
.hands2,
.hand4,
strong .card {
  bottom: 1em;
}

.hand1 .card:hover,
.hand1 .card:active,
.hand1 .card:focus,
.hand1 label.card:hover,
.hand1 strong .card {
  top: 1em;
}

.playingCards label.card {
  cursor: pointer;
}

.playingCards .card.back {
  background-color: #ccc;
  background-repeat: repeat;
  background-image: url(data:image/gif;base64,R0lGODlhJAAkAJEAAOjFsezdztOKbL5QKCH5BAAAAAAALAAAAAAkACQAAAL/HC4RAqm/mmLHyHmAbczB11Ea8ombJKSgKo6Z17pXFznmS1JptiX0z3vVhpEKDoUIkoa0olGIUeZUk1RI6Yn2mh/FDAt6frOrRRTqXPpsVLYugzxaVy+YcBdnoWPZOT0E4eckQtZFZBjWoHixQFWl6Nhol6R2p1Okt5TGaEWZA6fjiMdhZgPHeWrTWGVq+jTZg1HYyAEWKLYzmyiGKoUimilz+YYryyTlg5RcDJSAbNx0Q7lMcbIGEyzTK8zVdfVaImzs/QV+prYqWWW2ObkoOApM/Em/rUlIm7fijs8a2EEKEaZ3AsMUgneEU6RcpJbZ27aGHkAO2Ors8xQH1IR0Bn5YnOtVAAA7); /* image is "Pattern 069" from http://www.squidfingers.com/patterns/ */
  background-image: -moz-repeating-linear-gradient(
    34% 6% 135deg,
    #0f1e59,
    #75a1bf,
    #3e3e63 50%
  );
  background-image: -webkit-gradient(
    radial,
    center center,
    20,
    center center,
    80,
    from(#3c3),
    color-stop(0.4, #363),
    to(#030)
  );
  /* yes, it's intentional that Mozilla, Webkit, Opera and IE all will get different backgrounds ... why not? :) */
}

/* hand (in your hand or on table or as a deck)
********************************************************************/

.playingCards ul.table,
.playingCards ul.hand,
.playingCards ul.deck {
  list-style-type: none;
  padding: 0;
  margin: 0 0 1.5em 0;
  position: relative;
  clear: both;
}

/*Verikalni razmak */
.playingCards ul.hand > * {
  /* padding: 30px; */
}

/* Moj css */

.cardH2 {
  transform: rotate(90deg);
}
.cardH3 {
  transform: rotate(270deg);
}
.cardH1 {
  transform: rotate(180deg);
}

.playingCards {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
}

.hand1 {
  grid-area: 2 / 2 / 3 / 10;
  place-self: center;
}
.hand2 {
  grid-area: 3 / 1 / 7 / 2;
}
.hand3 {
  grid-area: 3 / 10 / 7 / 11;
}

/* Umisto hand, koristiti ime karte plus suit plus value kako bi rasporedili po grid */

.hand4 {
  grid-area: 6 / 2 / 7 / 10;
  place-self: center;
}

.playedCardsTurn {
  grid-area: 3 / 3 / 4 / 9;
  place-self: center;
}

.hand4 .card:hover {
  transform: scale(2) !important;
}

.playedCardsTurn .card:hover {
  transform: scale(2);
}

.KnockStricho {
  grid-area: 4 / 4 / 5 / 8;
  place-self: center;
}
/* Start again button */
#newGame {
  background: #3d94f6;
  background-image: -webkit-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -moz-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -ms-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -o-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -webkit-gradient(to bottom, #3d94f6, #1e62d0);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #ffffff;
  font-family: Brush Script MT;
  font-size: 20px;
  font-weight: 100;
  padding: 5vh;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337fed 1px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#newGame:hover {
  border: solid #337fed 1px;
  background: #1e62d0;
  background-image: -webkit-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -moz-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -ms-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -o-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -webkit-gradient(to bottom, #1e62d0, #3d94f6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
#newGame:active {
  transform: translateY(4px);
}

.wrapper {
  text-align: center;
}

/* Striscio and knocking button */

.KnockAndStriscio {
  background: #3d94f6;
  background-image: -webkit-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -moz-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -ms-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -o-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -webkit-gradient(to bottom, #3d94f6, #1e62d0);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #ffffff;
  font-family: Brush Script MT;
  font-size: 20px;
  font-weight: 100;
  padding: 5vh;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337fed 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.KnockAndStriscio:hover {
  border: solid #337fed 1px;
  background: #1e62d0;
  background-image: -webkit-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -moz-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -ms-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -o-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -webkit-gradient(to bottom, #1e62d0, #3d94f6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

.newGameText {
  color: #ffffff;
  font-size: 20px;
  font-weight: 100;
}

.KnockAndStriscio:active {
  transform: translateY(4px);
}

/* New game text */
